:root {
  --project-title-font-size: 1.2rem;
  --project-description-font-size: 0.8rem;
  --project-description-spacing: 0.2rem;
  --icon-size: calc(2 * (var(--project-description-font-size) + var(--project-description-font-size) + var(--project-description-spacing)));
}

.placeholder-icon {
  background: linear-gradient(20deg, #205080, #805050);
  /* background-color: var(--background-color-tertiary); */
  border: 2px solid #80808040;
  border-radius: 6px;
  opacity: 0.5;
}

.ios-app-icon {
  mask-image: url(images/app-store-mask.svg);
  mask-mode: alpha;
}

.website-icon {
  border: 2px solid rgba(64, 176, 255, 0.2);
  border-radius: 50%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}

@media (max-width: 799px) {
  .projects-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.projects-grid-item {
  justify-self: stretch;
  min-height: 100px;
  overflow: hidden;

  padding: 0.4rem 1.0rem 0.5rem 1.0rem;
  border-radius: 4px;

  background-color: rgba(128, 128, 128, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));

  display: grid;
  overflow: visible;
  gap: 0.8rem;
  grid-template-columns: var(--icon-size) auto min-content min-content;
  grid-template-rows: max-content var(--icon-size) auto min-content;
}

.projects-grid-item:hover {
  background-color: rgba(128, 128, 128, 0.15);
  transform: scale(1.02);
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.4));
}

.project-primary-link:hover,
.project-github-link:hover {
  transform-origin: center;
  transform: scale(1.15);
  z-index: 1;
  filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.4));
}

.project-primary-link,
.project-github-link {
  transform-origin: center;
  z-index: 1;
}

.app-store-download-badge img {
  height: 40px;
}

.project-github-link {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  width: fit-content;
  height: fit-content;
}

.project-github-link>img {
  width: 30px;
  height: 30px;
  margin: 5px 0;
}

.project-primary-link {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-self: center;

  width: fit-content;
  height: fit-content;
}

.project-item-info-bar,
.project-item-tags {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
}

.project-item-tags {
  grid-row-start: 3;
  grid-row-end: 4;
}

.project-item-info-bar {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
}

.project-item-tags>*,
.highlighted-info-tags>*,
.platform-info-tags>* {
  color: var(--text-color-secondary);
  font-size: 0.8rem;
  background-color: var(--background-color-tertiary);
  padding: 0.12rem 0.4rem;
  border-radius: 0.2rem;
  margin-right: 0.4rem;
  display: inline-block;
}

.project-item-tags>*:last-child,
.highlighted-info-tags>*:last-child,
.platform-info-tags>*:last-child {
  margin-right: 0;
}

.highlighted-info-tags>* {
  color: var(--background-color-primary);
  background: linear-gradient(20deg, #40a0ff, pink);
  font-weight: bolder;
}

.project-type-header {
  padding: 0;
  border: none;
  font-weight: normal;
  margin-right: 0.8rem;
  text-transform: uppercase;

  color: var(--text-color-tertiary);
  background: none;
}

.project-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  margin: auto 0;

  width: var(--icon-size);
  height: var(--icon-size);
}

.project-title-description {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
  text-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title-description * {
  margin: 0;
}

.project-title-description h3 {
  margin-bottom: var(--project-description-spacing);
  font-size: var(--project-title-font-size);
}

.project-title-description p {
  font-size: var(--project-description-font-size);
}

.project-link-button {
  width: max-content;
  height: 36px;
  margin: 2px 0;
  overflow: hidden;
  z-index: 10;

  background-color: var(--background-color-tertiary);
  color: var(--text-color-primary);

  border: 1px solid #80808040;
  border-radius: 6px;
  /* filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.4)); */
  padding: 6px 12px;
}

.project-link-button p {
  margin: 0;
  font-size: 16px;
  font-weight: bolder;
  line-break: strict;
  background: linear-gradient(20deg, #40a0ff, pink);

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}